<?xml version="1.0"?>
<configuration>
	<appSettings>

		<!--A008客戶下单訂單數量需求表读取配置'' as 固定4, -->
		<add key="AccessSqlProduct_imscj" value="select 品號,品名,規格,
			 '' as 固定1,'' as 固定2,'' as 固定3,
			庫存單位,'' as 固定5,'False' as 布尔1,'True' as 布尔2,
			'' as 固定6,'' as 固定7,循環盤點碼,
			'' as 固定8,'' as 固定9,'' as 固定10,'' as 固定11,
			'Z:\111\{0}.jpg' as 图片路径,'' as 固定12,
			主供應商,補貨政策,'0' as 固定13,安全存量,
			'' as 固定14,'' as 固定15,補貨倍量,標準進價,'False' as 布尔3,
			'' as 固定16,'' as 固定17,幣別,'' as 固定18,
			零售價,'False' as 布尔4,
			'' as 固定19,'' as 固定20,'' as 固定21,'' as 固定22,
			'' as 固定23,'' as 固定24,'' as 固定25,'' as 固定26,
			'' as 固定27,'' as 固定28,'' as 固定29,'' as 固定30,
			'' as 固定31,'' as 固定32,'' as 固定33,'' as 固定34,
			儲位,'' as 固定35,'' as 固定36,'' as 固定37,'' as 固定38,
			'' as 固定39,'' as 固定40,'False' as 布尔5,
			'' as 固定41,'' as 固定42,'' as 固定43,'' as 固定44,
			'' as 固定45,'' as 固定46,主要來源,主要庫別,'' as 固定47,'1' as 固定48,
			'' as 固定49,'' as 固定50,'' as 固定51,'' as 固定52,
			'' as 固定53,'' as 固定54,'' as 固定55,'' as 固定56,
			'' as 固定57,'' as 固定58,'' as 固定59,'' as 固定60,
			'' as 固定61,'DS' as 固定62,'' as 固定63,'DS' as 固定64,
			'' as 固定65,'' as 固定66,'' as 固定67,'' as 固定68,
			'' as 固定69,'' as 固定70,'' as 固定71,'End' from [Sheet1$]  where 品號 {1}''"/>
		<add key="AccessSqlProduct_imscl" value="select 'AA' as 固定1,'imscl{0}',品號,品名,規格,庫存單位,'0' as 固定2,主要庫別,庫存數量, '' as 固定3,'' as 固定4,'' as 固定5,'' as 固定6, '' as 固定7,'' as 固定8,'' as 固定9,'' as 固定10,'' as 固定11,'True' as 布尔1,'' as 固定12,'' as 固定13,'DS' as 固定14,'' as 固定15,'DS' as 固定16,'' as 固定17,'' as 固定18,'End' from [Sheet1$]  where 品號 {1}''"/>
		<add key="AccessSqlProduct_imsdb" value=""/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
