# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Excel导出txt工具/Excel导出.exe.zip
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/20130520LastDebug.zip
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/201306011704LastDebug.zip
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.exe.config
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.pdb
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.vshost.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.vshost.exe.config
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Debug/CatchExcel.vshost.exe.manifest
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.exe.config
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.pdb
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.vshost.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.vshost.exe.config
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/Release/CatchExcel.vshost.exe.manifest
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/obj/x86/Debug/CatchExcel.csproj.FileListAbsolute.txt
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/obj/x86/Debug/CatchExcel.csproj.GenerateResource.Cache
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/obj/x86/Debug/CatchExcel.exe
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/抓取模板/商品IMSCJ372025124.txt
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/抓取模板/商品IMSCJ74501429.txt
Excel导出txt工具/按照需求抓取Excel-源码/Setup1/Setup1.vdproj
Excel导出txt工具/按照需求抓取Excel-源码/UpgradeLog.htm
Excel导出txt工具/按照需求抓取Excel-源码/按照需求抓取Excel.v11.suo
抓取Excel工具/NPOIOperateExcel源码/NPOIOperateExcel/NPOIOperateExcel_TemporaryKey.pfx
抓取Excel工具/NPOIOperateExcel源码/NPOIOperateExcel/NPOIOperateExcel.csproj.user
Excel导出txt工具/按照需求抓取Excel-源码/UpgradeLog2.htm
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/20141223Publish.rar
Excel导出txt工具/按照需求抓取Excel-源码/CatchExcel/bin/20141223Publish.rar