<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--A008客戶下单配件需求读取配置-->
    <add key="Access008SqlPart" value="select top 1 '螺絲K' as 零件名稱, '規格說明L' as 規格說明,'總用量N' as 總用量,'安全庫存量O' as 安全庫存量,'' as 舊編號,'單重P' as 單重,'總重量Q' as 總重量  from [算料$]          
		UNION ALL          
		select 螺絲K,  規格說明L,sum(總用量N),  min(安全庫存量O),'',min(單重P),sum(總重量Q)  from [算料$] where NOT (總用量N = '0') group by  螺絲K,  規格說明L   		
		UNION ALL   		
		select top 1 '塑膠R',  '規格說明S','總用量U','安全庫存量V','舊編號','單重W','總重量X' from [算料$] 		
		UNION ALL 
		select 塑膠R,	規格說明S,sum(總用量U),min(安全庫存量V),'',min(單重W),sum(總重量X)  from [算料$]  where  NOT (總用量U = '0')  group by  塑膠R,	規格說明S  
		UNION ALL
		select top 1 '膠膜Y',  '規格說明Z','總用量AB','安全庫存量AC','舊編號','單重AD','總重量AE' from [算料$] 		
		UNION ALL
		select 膠膜Y,	規格說明Z,sum(總用量AB),min(安全庫存量AC),'',min(單重AD),sum(總重量AE)  from [算料$]  where  NOT (總用量AB = '0')  group by  膠膜Y,	規格說明Z          		
		UNION ALL  		
		select top 1 '密著卡AF',  '規格說明AG','總用量AI','安全庫存量AJ','舊編號','單重AK','總重量AL' from [算料$] 		
		UNION ALL  		
		select 密著卡AF,	規格說明AG,sum(總用量AI),min(安全庫存量AJ),'',min(單重AK)	,sum(總重量AL)  from [算料$]  where  NOT (總用量AI = '0')  group by 密著卡AF,	規格說明AG           		
		UNION ALL  		
		select top 1 '真空格AM',  '規格說明AN','總用量AP','安全庫存量AQ','舊編號','單重AR','總重量AS' from [算料$] 		
		UNION ALL  		
		select 真空格AM,	規格說明AN,sum(總用量AP),	min(安全庫存量AQ),'',min(單重AR),sum(總重量AS)  from [算料$]  where  NOT (總用量AP = '0')	  group by 真空格AM,	規格說明AN					
		UNION ALL 		
		select top 1 '真空格AT',  '規格說明AU','總用量AW','安全庫存量AX','舊編號','單重AY','總重量AZ' from [算料$] 		
		UNION ALL  		
		select 真空格AT,	規格說明AU,sum(總用量AW),	min(安全庫存量AX),'',min(單重AY),sum(總重量AZ)  from [算料$]  where  NOT (總用量AW = '0')  group by 真空格AT,	規格說明AU				
        UNION ALL  		
		select top 1 '氣泡袋BA',  '規格說明BB','總用量BD','安全庫存量BE','舊編號','單重BF','總重量BG' from [算料$] 		
		UNION ALL  		
		select 氣泡袋BA,	規格說明BB,sum(總用量BD),	min(安全庫存量BE),'',min(單重BF),sum(總重量BG)
  from [算料$]  where  總用量BD>0   group  by  氣泡袋BA,	規格說明BB		
		UNION ALL  		
		select top 1 '舒服袋BH',  '規格說明BK','總用量BK','安全庫存量BL','舊編號','單重BM','總重量BN' from [算料$] 		
		UNION ALL  		
		select 舒服袋BH,	規格說明BI,sum(總用量BK),	min(安全庫存量BL),'',min(單重BM),sum(總重量BN)
  from [算料$]  where  總用量BK>0  group by 舒服袋BH,	規格說明BI		
		UNION ALL  		
		select top 1 '塑膠袋BO',  '規格說明BP','總用量BR','安全庫存量BS','舊編號','單重BT','總重量BU' from [算料$] 		
		UNION ALL  		
		select 塑膠袋BO,	規格說明BP,	sum(總用量BR),min(安全庫存量BS) ,'',min(單重BT),	sum(總重量BU)
 from [算料$]  where  NOT (總用量BR = '0')
		group by 塑膠袋BO,	規格說明BP
		UNION ALL  		
		select top 1 '插卡BV',  '規格說明BW','總用量BY','安全庫存量BZ','舊編號','單重CA','總重量CB' from [算料$] 		
		UNION ALL  		
		select 插卡BV,	規格說明BW,	sum(總用量BY),	min(安全庫存量BZ),'',min(單重CA),sum(總重量CB)
  from [算料$]  where  NOT (總用量BY = '0')   group by 插卡BV,	規格說明BW
		UNION ALL  		
		select top 1 '電腦條碼紙CC',  '規格說明CD','總用量CF','安全庫存量CG','舊編號','單重CH','總重量CI' from [算料$] 		
		UNION ALL  		
		select 電腦條碼紙CC,規格說明CD,sum(總用量CF),min(安全庫存量CG) ,'',min(單重CH),sum(總重量CI)
 from [算料$]  where  NOT (總用量CF = '0') group by 電腦條碼紙CC,規格說明CD 
		UNION ALL   		
		select top 1 '天地板CJ' , '規格說明CL' ,'總用量CN' ,'安全庫存量CO' ,'天地板舊編號CK' ,'單重CP' ,'總重量CQ'   from [算料$] 		
		UNION ALL 		
		select 天地板CJ,規格說明CL,sum(總用量CN),min(安全庫存量CO) ,	min(天地板舊編號CK),min(單重CP),sum(總重量CQ)
 from [算料$] where NOT (總用量CN = '0')  group by 天地板CJ,規格說明CL 	
		UNION ALL   		
		select top 1 '內盒CR', '規格說明CT','總用量CV','安全庫存量CW', '內盒舊編號CS','單重CX','總重量CY' from [算料$] 		
		UNION ALL 		
		select 內盒CR,	規格說明CT, sum(總用量CV),	min(安全庫存量CW) ,	min(內盒舊編號CS),min(單重CX),	sum(總重量CY)
 from [算料$]  where 總用量CV>0   group by 內盒CR,	規格說明CT 
		UNION ALL  	
		select top 1 '外箱CZ',  '規格說明DB','總用量DD','安全庫存量DE', '外箱舊編號DA','單重DF','總重量DG' from [算料$] 		
		UNION ALL 
		select 外箱CZ,	規格說明DB,	sum(總用量DD),min(安全庫存量DE) ,	min(外箱舊編號DA),min(單重DF),	sum(總重量DG)
 from [算料$]  where 總用量DD > 0  group by 外箱CZ,	規格說明DB" />
    <!--A008客戶下单訂單數量需求表读取配置 -->
    <add key="Access008SqlProduct" value="select 物料類別D,公司編號E,樣式F,計算數量G,總用量H,單重I,總重量J from [算料$] where 總用量H > 0 order by  公司編號E; " />
	  <!--A009或者A001BA订单的读取配置 -->
	  <add key="Access009SqlProduct" value="select  * from [組合零件$A:IS] where Total>0  order by CompanyNum desc  "/>
	  <add key="Access009SqlPart" value="select *  from [配件$A:AQ] where 數量>0 	 "/>
      <!--查询A001KP表中WG-螺丝包的配件-->
	  <add key="AccessA001KPSqlPart1" 
		 value="select top 1 '螺絲O' as 零件名稱,'規格說明P' as 規格說明 ,'總用量R' as 總用量 ,'安全庫存量S' as 安全庫存量,'' as 舊編號 ,'單重T' as 單重,'總重量U' as 總重量 from [WG-螺丝包$]   
           union all
	      select  螺絲O ,規格說明P  ,sum(總用量R) ,min(安全庫存量S),'' ,max(單重T) ,sum(總重量U)  from [WG-螺丝包$] where 總用量R > 0  group by 螺絲O ,規格說明P
		  union all
		  select top 1 '塑膠V','規格說明W','總用量Y','安全庫存量Z','舊編號','單重AA','總重量AB' from [WG-螺丝包$] 
		  union all
		  select  塑膠V,規格說明W,sum(總用量Y),min(安全庫存量Z),'',max(單重AA),sum(總重量AB)  from [WG-螺丝包$] where 總用量Y > 0 group by 塑膠V,規格說明W
		  union all
		  select top 1 '塑膠袋BL','規格說明BM','總用量BO','安全庫存量BP','舊編號','單重BQ','總重量BR' from [WG-螺丝包$] 
		  union all
		  select  塑膠袋BL,規格說明BM,sum(總用量BO),min(安全庫存量BP),'',max(單重BQ),sum(總重量BR)  from [WG-螺丝包$] where 總用量BO > 0 group by 塑膠袋BL,規格說明BM
		  union all
		  select top 1 '外箱CW','規格說明CY','總用量DA','安全庫存量DB','外箱舊編號CX','單重DC','總重量DD' from [WG-螺丝包$] 
		  union all
		  select  外箱CW,規格說明CY,sum(總用量DA),min(安全庫存量DB),外箱舊編號CX,max(單重DC),sum(總重量DD) from [WG-螺丝包$] where 總用量DA > 0 group by 外箱CW,規格說明CY,外箱舊編號CX  
		  
		    union all
		  select top 1 '以上是螺丝包中的数据','-----','-------','------','--------','------','--------' from [WG-螺丝包$]    
		   "/>

	  <!--查询A001KP表中KP算料的配件  -->
<add key="AccessA001KPSqlPart2"  value="
		 union all
	     select top 1 '玻璃O','規格P','總用量R','安全庫存量S','舊編號','單重T','總重量U' from [KP算料$] 
		  union all
		  select  玻璃O,規格P,sum(總用量R),min(安全庫存量S),'',max(單重T),sum(總重量U) from [KP算料$] where not(總用量R ='0') group by 玻璃O,規格P 
           union all
		  select top 1 '螺絲X','規格說明Y','總用量AA', '安全庫存量AB', '舊編號', '單重AC', '總重量AD'  from [KP算料$] 
		  union all   
		  select  螺絲X,規格說明Y,sum(總用量AA),min(安全庫存量AB),'',max(單重AC),sum(總重量AD) from [KP算料$] where 總用量AA > 0 group by 螺絲X,規格說明Y
		   union all
		  select top 1 '塑膠AE','規格說明AF','總用量AH', '安全庫存量AI', '舊編號', '單重AJ', '總重量AK'  from [KP算料$] 
		  union all    
		  select  塑膠AE,規格說明AF,sum(總用量AH),min(安全庫存量AI),'',max(單重AJ),sum(總重量AK) from [KP算料$] where 總用量AH > 0 group by 塑膠AE,規格說明AF  
 union all
		  select top 1 '膠膜AL','規格說明AM','總用量AO', '安全庫存量AP', '舊編號', '單重AQ', '總重量AR'  from [KP算料$] 
		  union all    
		  select   膠膜AL,規格說明AM,sum(總用量AO),min(安全庫存量AP),'',max(單重AQ),sum(總重量AR) from [KP算料$] where not(總用量AO = '0') group by 膠膜AL,規格說明AM 
		  
		    union all
		  select top 1 '密著卡AS','規格說明AT','總用量AV', '安全庫存量AW', '舊編號', '單重AX', '總重量AY'  from [KP算料$] 
		  union all    
		  select   密著卡AS,規格說明AT,sum(總用量AV),min(安全庫存量AW),'',max(單重AX),sum(總重量AY) from [KP算料$] where 總用量AV > 0 group by 密著卡AS,規格說明AT 
		 
   union all
		  select top 1 '真空格AZ','規格說明BA','總用量BC', '安全庫存量BD', '舊編號', '單重BE', '總重量BF'  from [KP算料$] 
		  union all    
		  select   真空格AZ,規格說明BA,sum(總用量BC),min(安全庫存量BD),'',max(單重BE),sum(總重量BF) from [KP算料$] where 總用量BC > 0 group by 真空格AZ,規格說明BA 
 
		  union all
		  select top 1 '氣泡袋BG','規格說明BH','總用量BJ', '安全庫存量BK', '舊編號', '單重BL', '總重量BM'  from [KP算料$] 
		  union all    
		  select   氣泡袋BG,規格說明BH,sum(總用量BJ),min(安全庫存量BK),'',max(單重BL),sum(總重量BM) from [KP算料$] where 總用量BJ > 0 group by 氣泡袋BG,規格說明BH 
		  union all
		  select top 1 '舒服袋BN','規格說明BO','總用量BQ', '安全庫存量BR', '舊編號', '單重BS', '總重量BT'  from [KP算料$] 
		  union all    
		  select   舒服袋BN,規格說明BO,sum(總用量BQ),min(安全庫存量BR),'',max(單重BS),sum(總重量BT) from [KP算料$] where 總用量BQ > 0 group by 舒服袋BN,規格說明BO 
		  union all
		  select top 1 '塑膠袋BU','規格說明BV','總用量BX', '安全庫存量BY', '舊編號', '單重BZ', '總重量CA'  from [KP算料$] 
		  union all    
		  select   塑膠袋BU,規格說明BV,sum(總用量BX),min(安全庫存量BY),'',max(單重BZ),sum(總重量CA) from [KP算料$] where 總用量BX > 0 group by 塑膠袋BU,規格說明BV 
		  union all
		  select top 1 '插卡CB','規格說明CC','總用量CE', '安全庫存量CF', '舊編號', '單重CG', '總重量CH'  from [KP算料$] 
		  union all    
		  select   插卡CB,規格說明CC,sum(總用量CE),min(安全庫存量CF),'',max(單重CG),sum(總重量CH) from [KP算料$] where 總用量CE > 0 group by 插卡CB,規格說明CC 
		  union all
		  select top 1 '電腦條碼紙CI','規格說明CJ','總用量CL', '安全庫存量CM', '舊編號', '單重CN', '總重量CO'  from [KP算料$] 
		  union all    
		  select   電腦條碼紙CI,規格說明CJ,sum(總用量CL),min(安全庫存量CM),'',max(單重CN),sum(總重量CO) from [KP算料$] where 總用量CL > 0 group by 電腦條碼紙CI,規格說明CJ 
		  union all
		  select top 1 '天地板CP','規格說明CR','總用量CT', '安全庫存量CU', '舊編號', '單重CV', '總重量CW'  from [KP算料$] 
		  union all    
		  select   天地板CP,規格說明CR,sum(總用量CT),min(安全庫存量CU),天地板舊編號CQ,max(單重CV),sum(總重量CW) from [KP算料$] where 總用量CT > 0 group by 天地板CP,規格說明CR,天地板舊編號CQ 
		  union all
		  select top 1 '內盒CX','規格說明CZ','總用量DB', '安全庫存量DC', '舊編號', '單重DD', '總重量DE'  from [KP算料$] 
		  union all    
		  select   內盒CX,規格說明CZ,sum(總用量DB),min(安全庫存量DC),內盒舊編號CY,max(單重DD),sum(總重量DE) from [KP算料$] where 總用量DB > 0 group by 內盒CX,規格說明CZ,內盒舊編號CY 
		     union all
		  select top 1 '外箱DF','規格說明DH','總用量DJ', '安全庫存量DK', '舊編號', '單重DL', '總重量DM'  from [KP算料$] 
		  union all    
		  select   外箱DF,規格說明DH,sum(總用量DJ),min(安全庫存量DK),外箱舊編號DG,max(單重DL),sum(總重量DM) from [KP算料$] where 總用量DJ > 0 group by  外箱DF,規格說明DH,外箱舊編號DG 
		   
		    union all
		  select top 1 '以上是KP算料中的数据','-----','-------','------','--------','------','--------' from [KP算料$]
		   
	   union all 
		  select top 1 '螺絲O','規格說明P','總用量R','安全庫存量S','舊編號','單重T','總重量U' from [大把手算料$] 
		  union all
		  select  螺絲O,規格說明P,sum(總用量R),min(安全庫存量S),'',max(單重T),sum(總重量U) from [大把手算料$] where 總用量R > 0 group by 螺絲O,規格說明P 
		  union all
		  select top 1 '塑膠V','規格說明W','總用量Y', '安全庫存量Z', '舊編號', '單重AA', '總重量AB'  from [大把手算料$] 
		   union all    
		  select  塑膠V,規格說明W,sum(總用量Y),min(安全庫存量Z),'',max(單重AA),sum(總重量AB) from [大把手算料$] where  總用量Y >0  group by 塑膠V,規格說明W 
		  
	      union all
	  select top 1 '膠膜AC','規格說明AD','總用量AF', '安全庫存量AG', '舊編號', '單重AH', '總重量AI'  from [大把手算料$]          union all    
		  select   膠膜AC,規格說明AD,sum(總用量AF),min(安全庫存量AG),'',max(單重AH),sum(總重量AI) from [大把手算料$] where 總用量AF > 0 group by 膠膜AC,規格說明AD 
		  union all
		  select top 1 '密著卡AJ','規格說明AK','總用量AM', '安全庫存量AN', '舊編號', '單重AO', '總重量AP'  from [大把手算料$] 
		  union all    
		  select   密著卡AJ,規格說明AK,sum(總用量AM),min(安全庫存量AN),'',max(單重AO),sum(總重量AP) from [大把手算料$] where 總用量AM > 0 group by 密著卡AJ,規格說明AK 
	 
		   "/>

	  <!--查询A001KP表中大把手算料的配件  查询语句太长，这里分开。与上面的两个分开执行-->
	  <add key="AccessA001KPSqlPart3"  value=" 
		 
		  select top 1 '真空格AQ' as 零件名稱,'規格說明AR' as 規格說明,'總用量AT' as 總用量 , '安全庫存量AU' as 安全庫存量, '舊編號' as 舊編號 , '單重AV' as 單重, '總重量AW' as 總重量  from [大把手算料$] 
		  union all    
		  select   真空格AQ,規格說明AR,sum(總用量AT),min(安全庫存量AU),'',max(單重AV),sum(總重量AW) from [大把手算料$] where 總用量AT > 0 group by 真空格AQ,規格說明AR 
		   union all
		  select top 1 '氣泡袋AX','規格說明AY','總用量BA', '安全庫存量BB', '舊編號', '單重BC', '總重量BD'  from [大把手算料$] 
		  union all    
		  select   氣泡袋AX,規格說明AY,sum(總用量BA),min(安全庫存量BB),'',max(單重BC),sum(總重量BD) from [大把手算料$] where NOT (總用量BA = '0') group by 氣泡袋AX,規格說明AY 
		  union all
		  select top 1 '舒服袋BE','規格說明BF','總用量BH', '安全庫存量BI', '舊編號', '單重BJ', '總重量BK'  from [大把手算料$] 
		  union all    
		  select   舒服袋BE,規格說明BF,sum(總用量BH),min(安全庫存量BI),'',max(單重BJ),sum(總重量BK) from [大把手算料$] where 總用量BH > 0 group by 舒服袋BE,規格說明BF 
		  union all
		  select top 1 '塑膠袋BL','規格說明BM','總用量BO', '安全庫存量BP', '舊編號', '單重BQ', '總重量BR'  from [大把手算料$] 
		  union all    
		  select   塑膠袋BL,規格說明BM,sum( 總用量BO),min(安全庫存量BP),'',max(單重BQ),sum(總重量BR) from [大把手算料$] where  總用量BO > 0 group by 塑膠袋BL,規格說明BM 
		  union all
		  select top 1 '插卡BS','規格說明BT','總用量BV', '安全庫存量BW', '舊編號', '單重BX', '總重量BY'  from [大把手算料$] 
		  union all    
		  select   插卡BS,規格說明BT,sum(總用量BV),min(安全庫存量BW),'',max(單重BX),sum(總重量BY) from [大把手算料$] where NOT (總用量BV = '0') group by 插卡BS,規格說明BT 
		  union all
		  select top 1 '電腦條碼紙BZ','規格說明CA','總用量CC', '安全庫存量CD', '舊編號', '單重CE', '總重量CF'  from [大把手算料$] 
		  union all    
		  select   電腦條碼紙BZ,規格說明CA,sum(總用量CC),min(安全庫存量CD),'',max(單重CE),sum(總重量CF) from [大把手算料$] where 總用量CC > 0 group by 電腦條碼紙BZ,規格說明CA 
		  union all
		  select top 1 '天地板CG','規格說明CI','總用量CK', '安全庫存量CL', '舊編號', '單重CM', '總重量CN'  from [大把手算料$] 
		  union all    
		  select   天地板CG,規格說明CI,sum(總用量CK),min(安全庫存量CL),天地板舊編號CH,max(單重CM),sum(總重量CN) from [大把手算料$] where 總用量CK > 0 group by 天地板CG,規格說明CI,天地板舊編號CH 
		   union all
		  select top 1 '內盒CO','規格說明CQ','總用量CS', '安全庫存量CT', '舊編號', '單重CU', '總重量CV'  from [大把手算料$] 
		  union all    
		  select   內盒CO,規格說明CQ,sum(總用量CS),min(安全庫存量CT),內盒舊編號CP,max(單重CU),sum(總重量CV) from [大把手算料$] where 總用量CS > 0 group by 內盒CO,規格說明CQ,內盒舊編號CP 
		  union all
		  select top 1 '外箱CW','規格說明CY','總用量DA', '安全庫存量DB', '舊編號', '單重DC', '總重量DD'  from [大把手算料$] 
		  union all    
		  select   外箱CW,規格說明CY,sum(總用量DA),min(安全庫存量DB),外箱舊編號CX,max(單重DC),sum(總重量DD) from [大把手算料$] where 總用量DA > 0 group by  外箱CW,規格說明CY,外箱舊編號CX
		   union all
		  select top 1 '以上是大把手算料中的数据','-----','-------','------','--------','------','--------' from [大把手算料$]
		   
		   "/>

	  <!--查询A001KP表中白紅銅-合頁算料的配件  )-->
	  <add key="AccessA001KPSqlPart4"  value="
		   union all
		  select top 1 '螺絲O','規格說明P','總用量R','安全庫存量S','舊編號','單重T','總重量U' from [白紅銅-合頁算料$] 
		  union all
		  select  螺絲O,規格說明P,sum(總用量R),min(安全庫存量S),'',max(單重T),sum(總重量U) from [白紅銅-合頁算料$] where 總用量R > 0 group by 螺絲O,規格說明P 
		  union all
		  select top 1 '塑膠V','規格說明W','總用量Y', '安全庫存量Z', '舊編號', '單重AA', '總重量AB'  from [白紅銅-合頁算料$] 
		  union all    
		  select  塑膠V,規格說明W,sum(總用量Y),min(安全庫存量Z),'',max(單重AA),sum(總重量AB) from [白紅銅-合頁算料$] where 總用量Y > 0 group by 塑膠V,規格說明W 
		   union all
		  select top 1 '膠膜AC','規格說明AD','總用量AF', '安全庫存量AG', '舊編號', '單重AH', '總重量AI'  from [白紅銅-合頁算料$] 
		  union all    
		  select   膠膜AC,規格說明AD,sum(總用量AF),min(安全庫存量AG),'',max(單重AH),sum(總重量AI) from [白紅銅-合頁算料$] where 總用量AF > 0 group by 膠膜AC,規格說明AD 
		   union all
		  select top 1 '密著卡AJ','規格說明AK','總用量AM', '安全庫存量AN', '舊編號', '單重AO', '總重量AP'  from [白紅銅-合頁算料$] 
		  union all    
		  select   密著卡AJ,規格說明AK,sum(總用量AM),min(安全庫存量AN),'',max(單重AO),sum(總重量AP) from [白紅銅-合頁算料$] where 總用量AM > 0 group by 密著卡AJ,規格說明AK
		  union all
		  select top 1 '真空格AQ','規格說明AR','總用量AT', '安全庫存量AU', '舊編號', '單重AV', '總重量AW'  from [白紅銅-合頁算料$] 
		 union all    
		  select   真空格AQ,規格說明AR,sum(總用量AT),min(安全庫存量AU),'',max(單重AV),sum(總重量AW) from [白紅銅-合頁算料$] where not( 總用量AT ='0') group by 真空格AQ,規格說明AR 
		     union all
		  select top 1 '氣泡袋AX','規格說明AY','總用量BA', '安全庫存量BB', '舊編號', '單重BC', '總重量BD'  from [白紅銅-合頁算料$] 
		   union all
		   select   氣泡袋AX,規格說明AY,sum(總用量BA),min(安全庫存量BB),'',max(單重BC),sum(總重量BD) from [白紅銅-合頁算料$] where not( 總用量BA='0') group by 氣泡袋AX,規格說明AY 
		  union all   
		  select top 1 '舒服袋BE','規格說明BF','總用量BH', '安全庫存量BI', '舊編號', '單重BJ', '總重量BK'  from [白紅銅-合頁算料$] 
		  union all    
		  select   舒服袋BE,規格說明BF,sum(總用量BH),min(安全庫存量BI),'',max(單重BJ),sum(總重量BK) from [白紅銅-合頁算料$] where 總用量BH > 0 group by 舒服袋BE,規格說明BF 
		   
		   union all
		  select top 1 '塑膠袋BL','規格說明BM','總用量BO', '安全庫存量BP', '舊編號', '單重BQ', '總重量BR'  from [白紅銅-合頁算料$] 
		  union all    
		  select   塑膠袋BL,規格說明BM,sum( 總用量BO),min(安全庫存量BP),'',max(單重BQ),sum(總重量BR) from [白紅銅-合頁算料$] where  總用量BO > 0 group by 塑膠袋BL,規格說明BM 
		  union all
		  select top 1 '插卡BS','規格說明BT','總用量BV', '安全庫存量BW', '舊編號', '單重BX', '總重量BY'  from [白紅銅-合頁算料$] 
		    union all    
		  select   插卡BS,規格說明BT,sum(總用量BV),min(安全庫存量BW),'',max(單重BX),sum(總重量BY) from [白紅銅-合頁算料$] where NOT (總用量BV = '0') group by 插卡BS,規格說明BT 
		  union all
		  select top 1 '電腦條碼紙BZ','規格說明CA','總用量CC', '安全庫存量CD', '舊編號', '單重CE', '總重量CF'  from [白紅銅-合頁算料$] 
		  union all    
		  select   電腦條碼紙BZ,規格說明CA,sum(總用量CC),min(安全庫存量CD),'',max(單重CE),sum(總重量CF) from [白紅銅-合頁算料$] where 總用量CC > 0 group by 電腦條碼紙BZ,規格說明CA 
		   union all
		  select top 1 '天地板CG','規格說明CI','總用量CK', '安全庫存量CL', '舊編號', '單重CM', '總重量CN'  from [白紅銅-合頁算料$] 
		    union all    
		  select   天地板CG,規格說明CI,sum(總用量CK),min(安全庫存量CL),天地板舊編號CH,max(單重CM),sum(總重量CN) from [白紅銅-合頁算料$] where NOT (總用量CK = '0') group by 天地板CG,規格說明CI,天地板舊編號CH 
		  
		 union all
		  select top 1 '內盒CO','規格說明CQ','總用量CS', '安全庫存量CT', '舊編號', '單重CU', '總重量CV'  from [白紅銅-合頁算料$] 
		  union all    
		  select   內盒CO,規格說明CQ,sum(總用量CS),min(安全庫存量CT),內盒舊編號CP,max(單重CU),sum(總重量CV) from [白紅銅-合頁算料$] where 總用量CS > 0 group by 內盒CO,規格說明CQ,內盒舊編號CP 
		   
		 
		
		  union all
		  select top 1 '外箱CW','規格說明CY','總用量DA', '安全庫存量DB', '舊編號', '單重DC', '總重量DD'  from [白紅銅-合頁算料$] 
		  union all    
		  select   外箱CW,規格說明CY,sum(總用量DA),min(安全庫存量DB),外箱舊編號CX,max(單重DC),sum(總重量DD) from [白紅銅-合頁算料$] where 總用量DA > 0 group by  外箱CW,規格說明CY,外箱舊編號CX
		  union all
		  select top 1 '以上是白紅銅-合頁算料中的数据','-----','-------','------','--------','------','--------' from [白紅銅-合頁算料$]
		   "/>
      <!--查询A001KP表中多个Sheet的数据订单需求部分  -->
	  <add key="AccessA001KPSqlProduct" value=" 
		  select * from (  select 物料類別E,公司編號F as 公司編號,樣式G as 樣式,計算數量I as 計算數量,總用量J as 總用量,安全庫存量K as 安全庫存量,單重L as 單重,總重量M as 總重量 from [KP算料$] where 總用量J > 0 
		   union all
		   select 物料類別E,公司編號F ,樣式G ,計算數量I ,總用量J ,安全庫存量K ,單重L ,總重量M  from [大把手算料$] where 總用量J > 0  
		   union all
		   select 物料類別E,公司編號F ,樣式G ,計算數量I ,總用量J ,安全庫存量K ,單重L ,總重量M  from [白紅銅-合頁算料$] where 總用量J > 0  
		   )  order by 1  "/>

	  <!--查询S003BA的订单需求-->
	  <add key="AccessS003BASqlProduct" value="select 物料類別D,公司編號E,樣式F,計算數量G,總用量H,單重I,總重量J from [算料表$] where 總用量H > 0 order by 公司編號E "/>
	  <!--查询S003BA的配件需求-->
	  <add key="AccessS003BASqlPart" value="
		   select top 1 '螺絲L' as 零件名稱,'規格說明P' as 規格說明 ,'總用量O' as 總用量 ,'安全庫存量P' as 安全庫存量,'' as 舊編號 ,'單重Q' as 單重,'總重量R' as 總重量 from [算料表$]   
           union all
	      select  螺絲L ,規格說明M  ,sum(總用量O) ,min(安全庫存量P),'' ,max(單重Q) ,sum(總重量R)  from [算料表$] where 總用量O > 0  group by 螺絲L ,規格說明M 
		  
		   union all
		  select top 1 '塑膠S','規格說明T','總用量V','安全庫存量W','舊編號','單重X','總重量Y' from [算料表$] 
		  union all
		  select 塑膠S,規格說明T,sum(總用量V),min(安全庫存量W),'',max(單重X),sum(總重量Y)  from [算料表$] where 總用量V > 0 group by 塑膠S,規格說明T 
		    
		   union all
		  select top 1 '氣泡袋Z','規格說明AA','總用量AC','安全庫存量AD','舊編號','單重AE','總重量AF' from [算料表$] 
		  union all
		  select 氣泡袋Z,規格說明AA,sum(總用量AC),min(安全庫存量AD),'',max(單重AE),sum(總重量AF)  from [算料表$] where not( 總用量AC ='0') group by 氣泡袋Z,規格說明AA  
		    union all
		  select top 1 '舒服袋AG','規格說明AH','總用量AJ','安全庫存量AK','舊編號','單重AL','總重量AM' from [算料表$] 
		  union all
		  select 舒服袋AG,規格說明AH,sum(總用量AJ),min(安全庫存量AK),'',max(單重AL),sum(總重量AM)  from [算料表$] where 總用量AJ > 0 group by 舒服袋AG,規格說明AH
		   union all
		  select top 1 '塑膠袋AN','規格說明AO','總用量AQ','安全庫存量AR','舊編號','單重AS','總重量AT' from [算料表$] 
		  union all
		  select 塑膠袋AN,規格說明AO,sum(總用量AQ),min(安全庫存量AR),'',max(單重AS),sum(總重量AT)  from [算料表$] where 總用量AQ > 0 group by 塑膠袋AN,規格說明AO
		   union all
		  select top 1 '隔板AU','規格說明AV','總用量AX','安全庫存量AY','舊編號','單重AZ','總重量BA' from [算料表$] 
		  union all
		  select 隔板AU,規格說明AV,sum(總用量AX),min(安全庫存量AY),'',max(單重AZ),sum(總重量BA)  from [算料表$] where 總用量AX > 0 group by 隔板AU,規格說明AV
		   union all
		  select top 1 '內盒BB','規格說明BC','總用量BE','安全庫存量BF','舊編號','單重BG','總重量BH' from [算料表$] 
		  union all
		  select 內盒BB,規格說明BC,sum(總用量BE),min(安全庫存量BF),'',max(單重BG),sum(總重量BH)  from [算料表$] where 總用量BE > 0 group by 內盒BB,規格說明BC 
		   union all
		  select top 1 '外箱BI','規格說明BJ','總用量BL','安全庫存量BM','舊編號','單重BN','總重量BO' from [算料表$] 
		  union all
		  select 外箱BI,規格說明BJ,sum(總用量BL),min(安全庫存量BM),'',max(單重BN),sum(總重量BO)  from [算料表$] where 總用量BL > 0 group by 外箱BI,規格說明BJ
		   "/>
	 
	  <!--S003的算料  ,,,,,總用量,安全庫存量,備注,單重kg,總重kg-->
	  <add key="AccessS003SqlPart" value=" 
		   
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [F3XXX算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   union all 
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [F5XXX算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   union all 
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [FL3XXX算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   union all 
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [FC3XXX-FS3XXX算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   union all 
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [F3XXX-L算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   union all 
		   select  產品編號,訂單數量,单位,規格說明,用量,總用量,安全庫存量,備注,單重kg,總重kg from  [SDXXX-算料$]  where not ( 總用量='0') and not (總用量='總用量')
		   "/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>